.post-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
  color: #3f2a78;
}
.post-time {
  color: #ccc;
  text-transform: uppercase;
}

.body {
  padding: 20px;
}
.cardList {
  display: flex;
}
